{% extends "base.html" %}
{% load staticfiles %}
{% load material_form %}
{% load crispy_forms_tags %}
{% block site_title %}
    Registro de OE
{% endblock site_title %}

{% block content %}

<section>
  <div class="container">
    {% if completo %}
    <h3>¡Tu registro ha sido exitoso!</h3>
    {% else %}
    <h3>Registra tu organización estudiantil</h3>
    <br>
    <form method="POST">
      <!-- {% crispy form %} -->
    {% csrf_token %}
      {% crispy form %}
      <br>
      <center>
      <button type="submit" name="_submit" class="btn">
        Enviar
        <i class="mdi-content-send right white-text"></i>
      </button>
      </center>
    </form>
    {% endif %}
  </div>
</section>

{% endblock content %}
