{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
<p>
    ¿Olvidaste tu contraseña?  Ingresa tu correo electrónico y te enviaremos las instrucciones para crear una nueva.
</p>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Reset password' %}" />
</form>

  </div>
</section>

{% endblock %}


{# This is used by django.contrib.auth #}
